version: '1.0'
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      - NEXT_PUBLIC_API_URL=https://api.example.com
      - NEXT_PUBLIC_APP_NAME=NextJS15 App
      - NODE_OPTIONS=--max-old-space-size=4096
      - NEXT_TELEMETRY_DISABLED=1
